MONGO_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/
MONGO_URI_DIRECT=mongodb://usuario:password@host1:27017,host2:27017,host3:27017/?ssl=true&authSource=admin&replicaSet=atlas-xxxxx-shard-0
MONGO_FALLBACK_URI=mongodb://localhost:27017
DATABASE_NAME=sgc
