# Entorno virtual
.venv/
venv/
ENV/
__pycache__/
*.pyc

# Variables de entorno y llaves secretas
.env

# Archivos del sistema o editores
.vscode/
.idea/
.DS_Store

# Frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache